<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>com.censo.controlador.sesion.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>com.censo.controlador.usuario.RegistrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>com.censo.controlador.sesion.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarPersona</servlet-name>
        <servlet-class>com.censo.controlador.persona.RegistrarPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarVehiculo</servlet-name>
        <servlet-class>com.censo.controlador.vehiculo.RegistrarVehiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarMarcas</servlet-name>
        <servlet-class>com.censo.controlador.marca.CargarMarcas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarColores</servlet-name>
        <servlet-class>com.censo.controlador.color.CargarColores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarLineas</servlet-name>
        <servlet-class>com.censo.controlador.linea.CargarLineas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarCenso</servlet-name>
        <servlet-class>com.censo.controlador.censo.RegistrarCenso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarPersona</servlet-name>
        <servlet-class>com.censo.controlador.persona.ModificarPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUsuario</servlet-name>
        <servlet-class>com.censo.controlador.usuario.ModificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarDocumentos</servlet-name>
        <servlet-class>com.censo.controlador.documentos.CargarDocumentos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarVehiculo</servlet-name>
        <servlet-class>com.censo.controlador.vehiculo.ModificarVehiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestaurarPassword</servlet-name>
        <servlet-class>com.censo.controlador.usuario.RestaurarPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DescargarDocumento</servlet-name>
        <servlet-class>com.censo.controlador.documentos.DescargarDocumento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarPassword</servlet-name>
        <servlet-class>com.censo.controlador.usuario.ActualizarPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportarDocumentos</servlet-name>
        <servlet-class>com.censo.controlador.documentos.ImportarDocumentos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarVerificacion</servlet-name>
        <servlet-class>com.censo.controlador.verificacion.RegistrarVerificacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarVerificacion</servlet-name>
        <servlet-class>com.censo.controlador.verificacion.ModificarVerificacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportarFotosMasivaVeh</servlet-name>
        <servlet-class>com.censo.controlador.documentos.ImportarFotosMasivaVeh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportarFotosMasivaImp</servlet-name>
        <servlet-class>com.censo.controlador.documentos.ImportarFotosMasivaImp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarCenso</servlet-name>
        <servlet-class>com.censo.controlador.censo.ModificarCenso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarEstadisticas</servlet-name>
        <servlet-class>com.censo.controlador.estadistica.CargarEstadisticas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImprimirReporte</servlet-name>
        <servlet-class>com.censo.controlador.censo.ImprimirReporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultarNumeroCenso</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/inicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/registrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/cerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarPersona</servlet-name>
        <url-pattern>/registrarPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarVehiculo</servlet-name>
        <url-pattern>/registrarVehiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarMarcas</servlet-name>
        <url-pattern>/cargarMarcas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarColores</servlet-name>
        <url-pattern>/cargarColores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarLineas</servlet-name>
        <url-pattern>/cargarLineas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarCenso</servlet-name>
        <url-pattern>/registrarCenso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarPersona</servlet-name>
        <url-pattern>/modificarPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUsuario</servlet-name>
        <url-pattern>/modificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarDocumentos</servlet-name>
        <url-pattern>/cargarDocumentos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarVehiculo</servlet-name>
        <url-pattern>/modificarVehiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestaurarPassword</servlet-name>
        <url-pattern>/restaurarPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DescargarDocumento</servlet-name>
        <url-pattern>/descargarDocumento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarPassword</servlet-name>
        <url-pattern>/actualizarPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportarDocumentos</servlet-name>
        <url-pattern>/importarDocumentos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarVerificacion</servlet-name>
        <url-pattern>/registrarVerificacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarVerificacion</servlet-name>
        <url-pattern>/modificarVerificacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportarFotosMasivaVeh</servlet-name>
        <url-pattern>/importarFotosMasivaVeh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportarFotosMasivaImp</servlet-name>
        <url-pattern>/importarFotosMasivaImp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarCenso</servlet-name>
        <url-pattern>/modificarCenso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarEstadisticas</servlet-name>
        <url-pattern>/cargarEstadisticas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImprimirReporte</servlet-name>
        <url-pattern>/imprimirReporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultarNumeroCenso</servlet-name>
        <url-pattern>/consultarNumeroCenso</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/Error500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/Error404.jsp</location>
    </error-page>
</web-app>
